@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --offWhite: #FAFAFA;
  --lightGrey: #EFE9E7;
  --lightBlue: #DAE0F2;
  --darkPurple: #52154E;
  --darkBlue: #111344;

  --title-height: 75vh;

  --boxShadow-grey: 0.15em 0.30em 0.5em -0.15em rgba(17,19,68,0.75);


}
html{
  font-size: 18px;
  width: 100%;
  height: 100%;
}


body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;

  background-color: var(--offWhite);
}

main{
  padding: 5% 10%;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 1.75em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1.2em;
}

input{
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

input:focus{
  outline: none;
  border: 0.15em solid var(--darkPurple);
}